body {
  background-color: brown;
  text-align: center;
  color: #e4cd54;
  font-family: "Nunito", sans-serif;
}

ul {
  list-style: none;
}

.burgerPic {
  height: 3em;
}

.text {
  font-size: 20px;
}

.burger-item {
  margin: 0.8em;
}

button {
  background-color: #fcfaec;
  border-radius: 4px;
  color: #333;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
